*{
    margin:0;
    padding:0;
}

.container1{
    width:620px;
    height:420px;
    margin:70px auto 25px auto;
    border:10px solid #333;
    -moz-box-shadow:1px 1px 12px #000;
    -webkit-box-shadow:1px 1px 12px #000;
    box-shadow:1px 1px 12px #000;  
    padding-left: 15px;
}

.wrap{
    width:200px;
    height:200px;
    margin:0px;
    overflow:hidden;
    position:relative;
    float:left;
}
.wrap a img  {
    border:none;
    position:absolute;   
    top:-66.5px;
    left:-150px;
    height:500px;
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}